.env/*
.env
data/
data/*
unmarked/*
unmarked/
denoised_spectra/*
denoised_spectra/
venv/*
venv/
openai_models/
openai_models/*
gemini_models/
gemini_models/*
claude_models/
claude_models/*
/graphene_elo_results/
/graphene_elo_results/*


/hbn_elo_results/
/hbn_elo_results/*
ranking_sample_c/
ranking_sample_c/*
ranking_sample_d/
ranking_sample_d/*
ranking_sample_a/
ranking_sample_a/*
ranking_sample_b/
ranking_sample_b/*
